wp-config.php
wp-content/uploads/wc-logs

# Игнорировать директорию с импортами поставщиков
/wp-content/plugins/supplier-importer/suppliers/

# Игнорировать загрузки WordPress
/wp-content/uploads/

# Игнорировать debug.log
/wp-content/debug.log