.page-nav {
    display: flex;
    align-items: stretch;
    margin-top: 5vh;
}

.page-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--theme-color-primary);
    padding: 1em;
    flex-grow: 1;
    background: rgb(248, 248, 248);
}

.page-nav__link.active {
    background: var(--theme-color-accent);
}

section.page-content {
    padding-top: 0;
}

.page-content h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
}

.page-content h3 {
    font-size: 28px;
}